<!-- Add Author Modal -->
  <!-- form to add author -->
  <form id="test-form" class="mfp-hide white-popup-block white-popup" action="{{url_for('add_author')}}" method="post">
    <h1>Add Author</h1>
    <fieldset style="border:0;">
      <p>Please enter an author's name:</p>
      <ol>
        <li>
          <label for="name">Author Name: </label>
          <input id="name" name="name" placeholder="e.g. Jon Snow" required="" type="text">
        </li>
        <li>
          <input type="submit" value="Create">
        </li>
      </ol>
    </fieldset>
  </form>
  </p>
<!-- / end add author modal -->