<!-- Delete Author Modal -->
  <!-- form to delete author -->
  <form id="delete-author-form" class="mfp-hide white-popup-block white-popup" action="{{url_for('delete_author')}}" method="post">
    <h1>WARNING</h1>
    <fieldset style="border:0;">      
      <ol>
        <li>
          Deleted Author Will Delete All Their Associated Poetry
          <input id="id" name="id" type="hidden">
        </li>
        <li>
          <a href="{{ url_for('back') }}">Cancel</a>
          <input type="submit" value="Continue">
        </li>
      </ol>
    </fieldset>
  </form>
  </p>
<!-- / end delete author modal -->