{% extends "layout.html" %}
{% block body %}
    
    <header class="full">
       <h1>Poetry &amp; Alcohol</h1>
        <p>About | Login | Contact</p>
    </header>
    <section>

      <article class="left-side">

        <h1>Authors</h1>
        <!-- List Authors -->
          <p>
          <ol>
          {% for a in authors %}            
            <li><a href="#" id="{{a.id}}" class="author-link">{{a.name}}</a></li>
          {% endfor %}
          </ol>
          </p>

          
          <!-- Add Author Modal -->
            <p class="add-author">
            <a href="#test-form" class="popup-with-form open-popup-link">or click to add a new author...</a>
            <!-- form to add author -->
            <form id="test-form" class="mfp-hide white-popup-block white-popup" action="{{url_for('add_author')}}" method="post">
              <h1>Add Author</h1>
              <fieldset style="border:0;">
                <p>Please enter an author's name:</p>
                <ol>
                  <li>
                    <label for="name">Author Name: </label>
                    <input id="name" name="name" placeholder="e.g. Jon Snow" required="" type="text">
                  </li>
                  <li>
                    <input type="submit" value="Create">
                  </li>
                </ol>
              </fieldset>
            </form>
            </p>
        <!-- / end add author modal -->
      </article>      

      <article class="right-side">      

        <h1>Poems</h1>
        <!-- List Poems -->
          <p>
            <span id="result">
              <ol id="poem-list">                
              </ol>
            </span>
          </p>
      </article>

    </section>
    
    <footer class="full">
      <p id="copyright">&copy;2015 Joshua Rincon. Made with love and beer.</p>
    </footer>
{% endblock %}
