{% extends "layout.html" %}
{% block body %}
    <h1>Poetry &amp; Alcohol</h1>
    
    <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign In</a></li>
            <!--MESSAGE FLASHING -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
         </ul>
      </nav>
    </header>

    <div class="columnsContainer">

      <div class="leftColumn">
        <h2>Left Column (fluid)</h2>
        <!-- List Authors -->
        <p>
        {% for a in authors %}
          <div>
              <a href="#" id="{{a.id}}" class="author-link">{{a.name}}</a><br />
              <br />
          </div>
        {% endfor %}
        </p>

      </div>

      <div class="rightColumn">
        <h2>Right Column</h2>
        <!-- List Poems -->
        <p>
          <span id="result">
            <ol id="poem-list">
              
            </ol>
          </span>
        </p>

      </div>

    </div>
    
    <footer>
      <p><a href="#">Contact Us</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
      <p>&copy;2014 Copyright info here...</p>
    </footer>
{% endblock %}
