{% extends "layout.html" %}
{% block body %}
<body id="super-body">

{% include "addauthor.html" %}
{% include "updateauthor.html" %}
{% include "deleteauthor.html" %}

<div class="menu-again push-menu-right-again">
    <button class="close-menu-again">Close &rarr;</button>
    <ol id="poem">    
    </ol>    
</div><!-- /push poem right -->

<div class="menu push-menu-right">
    <div class="menu-container">
        <button class="close-menu">Close &rarr;</button>
        <ol id="poem-list">        
        </ol>
    </div>
</div><!-- /push poem list right -->

<div id="wrapper">
    
    <header>
        <div class="branding">
            <div class="container clearfix">
                <div class="logo">                    
                </div>                
            </div>
        </div><!-- /.branding -->
        <div class="site-title">
            <div class="container">
                <h1>Poetry and Alcohol</h1>
            </div>
        </div>
    </header>


    <div id="main">
        <div class="container">
            <h1>Authors</h1>
            <a href="#add-author-form" class="popup-with-form open-popup-link"><i class="fa fa-user-plus"></i></a>
            <br /><br />
            <div class="buttons">                
                {% for a in authors %}
                <button id="{{a.id}}" class="nav-toggler toggle-push-right author-link">
                {{a.name}}
                </button>
                <span id="{{a.id}}" class="fa-links">
                    <a href="#update-author-form" class="update-author-link popup-with-form open-popup-link">
                    <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="#delete-author-form" class="update-author-link popup-with-form open-popup-link">
                    <i class="fa fa-times"></i>
                    </a>
                </span>
                <br />
                {% endfor %}
            </div><!-- /buttons -->

            <section class="content">                
                <!-- Maybe add content here -->
            </section>

        </div>
    </div><!-- #main -->


    <footer>
        <div class="container">
            <div class="clearfix">
                
            </div>
            <div class="copyright">
                <span>
                    &copy; 2015, Josh Rincon<br>
                    <a href="http://joshrincon.com" target="_blank">joshrincon.com</a>
                </span>
            </div>
        </div>
    </footer><!-- /footer -->

</div><!-- /#wrapper -->
</body>
{% endblock %}