{% extends "layout.html" %}
{% block body %}
<body>
<div class="menu push-menu-right">
    <button class="close-menu">Close &rarr;</button>
    <ol id="poem-list">        
    </ol>    
</div><!-- /push menu right -->

<div id="wrapper">
    
    <header>
        <div class="branding">
            <div class="container clearfix">
                <div class="logo">                    
                </div>                
            </div>
        </div><!-- /.branding -->
        <div class="site-title">
            <div class="container">
                <h1>Poetry and Alcohol</h1>
            </div>
        </div>
    </header>


    <div id="main">
        <div class="container">
            
            <div class="buttons">                
                {% for a in authors %}
                <button id="{{a.id}}" class="nav-toggler toggle-push-right author-link">
                {{a.name}}
                </button><br />
                {% endfor %}
            </div><!-- /buttons -->

            <section class="content">                
                <!-- Maybe add content here -->
            </section>

        </div>
    </div><!-- #main -->


    <footer>
        <div class="container">
            <div class="clearfix">
                
            </div>
            <div class="copyright">
                <span>
                    &copy; 2015, Josh Rincon<br>
                    <a href="http://joshrincon.com" target="_blank">joshrincon.com</a>
                </span>
            </div>
        </div>
    </footer><!-- /footer -->

</div><!-- /#wrapper -->
</body>
{% endblock %}