<!-- Update Poem Modal -->
  <!-- form to poem author -->
  <form id="update-poem-form" class="mfp-hide white-popup-block white-popup" action="{{url_for('update_poem')}}" method="post">
    <h1>Update Poem</h1>
    <fieldset style="border:0;">
      <p>Please update the poem:</p>
      <ol>
        <li>
          <label for="name">Poem Name: </label>
          <input id="name" name="name" required="" type="text"><br />
          <label for="the_poem">The Poem: </label>
          <textarea id="the_poem" name="the_poem">
          </textarea>
          <input id="id" name="id" type="hidden">
        </li>
        <li>
          <input type="submit" value="Update">
        </li>
      </ol>
    </fieldset>
  </form>
  </p>
<!-- / end update poem modal -->