html {
  background: #ff9e2c;
  font-size: 1.25rem;
  height: 100%;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

body {
  background: #b6701e;
  margin: 0 0 0 50%;
  min-height: 100%;
}

section {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
}

article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

.left-side {
  clear: left;
  float: left;
  margin-left: -100%;
  width: 100%;
}

.right-side {
  display: inline-block;
  width: 100%;
}

.full {
  clear: both;
  margin-left: -100%;
  width: 200%;
  
  background: #EB8;
  background: rgba(255, 255, 255, 0.65);
  color: #222;
}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 19.5em; }

    .rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }   
}