/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Navbar
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
#login:hover {
  cursor: pointer
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
h1 {
    font-size: 40px
}
h2 {
    margin-bottom: 10px
}
hr {
    margin: 30px 0;
    border: none;
    height: 1px;
    background-color: #c8c8c8;
}
p {
    margin-bottom: 30px
}
p:last-child {
    margin-bottom: 0
}
.large-spacing {
  padding-top:100px
}
.fix-lines {
    white-space: pre-line;
    white-space: pre-wrap;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Demo 1
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
section {
  border-top: 10px solid;
  border-color: #555;
  height: 500px;
  max-height: 500px;
}
aside {
  border-top: 10px solid;
  border-color: #555;
  height: 500px;
  max-height: 500px;
}
.demo-1 .main .container {
    padding: 0 360px 0 30px;
    overflow: hidden
}
.demo-1 .content {
    float: left;
    text-align: right;
    width: 35%;
    background-color: #fff
}
.demo-1 .content-middle {
    float: left;
    width: 45%;
    margin-left: 45px;
    background-color: #fff
}
.demo-1 .sidebar {
    float: right;
    margin-right: -330px;
    width: 400px;
    background-color: #fff
}
.demo-1 .content,
.demo-1 .sidebar {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}
.demo-1 section,
.demo-1 aside {
    padding: 30px
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 840px) {
  .demo-1 .main .container {
      padding: 0 30px;
      overflow: visible;
  }
  .demo-1 .content {
    text-align: left;
      width: 100%;
      float: none
  }
  .demo-1 .content-middle {
      width: 100%;
      margin-left: 0;
      float: none
  }
  .demo-1 .sidebar {
      margin-top: 30px;
      float: none;
      margin-right: 0;
      width: 100%;
  }
  .demo-1 .content,
  .demo-1 .sidebar {
      padding-bottom: 0;
      margin-bottom: 0;
  }
  .demo-1 .content {
      margin-bottom: 30px
  }
}

#signInButton {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #4285f4;
  color: white;
  width: 190px;
  margin-top:10px;
  margin-bottom: 20px;
  border-radius: 5px;
  white-space: nowrap;
}
#signInButton:hover {
  cursor: pointer;
}
span.g-signin {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
