<!-- Delete Author Modal -->
<!-- form to delete author -->
<div id="deleteAuthor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAuthor">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="delete-author-form" class="form-horizontal" action="{{url_for('delete_author')}}" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Author</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">                                                     
                Deleted Author Will Delete All Their Associated Poetry            
            <input id="id" name="id" type="hidden">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">DELETE</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- / end delete author modal -->