<!-- Update Author Modal -->
  <!-- form to update author -->
<div id="updateAuthor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateAuthorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="update-author-form" class="form-horizontal" action="{{url_for('update_author')}}" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Author</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">                                         
            <div class="col-sm-10">
                <label for="name">Author Name:</label>
                    <input id="name" type="text" class="form-control" id="name" name="name" placeholder="ex. John Smith">                
            </div>            
            <input id="id" name="id" type="hidden">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- / end update author modal -->