<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login </h4>
            </div>
            <div class="modal-body text-center center-block">
              <div id="signInButton">
                <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="1006406991652-n8j3ou5e4sje06mena7iq3ol33eep8te.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">Google+ Sign In
                </span>
              </div>
              
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer()">
                <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
              
            <div id="result"></div>
              <button type="button" class="btn btn-default form-control" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>